
<div style="max-height: 20px;">
  <ng-template #divLoading>
      <mat-grid-list cols="3"  >
  
        <mat-grid-tile></mat-grid-tile>
        
        <mat-grid-tile>
          <mat-spinner></mat-spinner>
        </mat-grid-tile>
  
        <mat-grid-tile></mat-grid-tile>
        
      </mat-grid-list>
    </ng-template>
  </div>





<div class="header" style="display: flex; flex-direction: row; justify-content: space-between;">
  
  <div><h1>Listado de Repuestos</h1></div>
  <div>
    
    <button
    routerLink="/repuestos/new-repuesto"
    mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>add</mat-icon>
    </button>

 
</div>
</div>
<mat-divider></mat-divider>



<div class="grid bm-8 pt-2">
  <ng-container *ngIf="!byMaquina; else otroContenedor">
    <div *ngFor="let repuesto of repuestos" class="col-12 sm:col-4 md:col-3 xl:col-2">

       <!-- pasar de padre a hijo   hijo con input para recibir-->
      <repuestos-repuesto-card [repuesto]="repuesto"></repuestos-repuesto-card>
    </div>
  </ng-container>

  <ng-template #otroContenedor>
    <div *ngFor="let repuesto of relaciones" class="col-12 sm:col-4 md:col-3 xl:col-2">

      <!-- pasar de padre a hijo   hijo con input para recibir-->
      <repuestosById-repuesto-card [repuesto]="repuesto"></repuestosById-repuesto-card>
    </div>
  </ng-template>
</div>



