<form>
    <mat-form-field class="example-full-width">
      <mat-label>Buscar</mat-label>
      <input matInput placeholder="Buscar valor" [formControl]="searchCtrl" [matAutocomplete]="autoSearch">
      <mat-autocomplete #autoSearch="matAutocomplete">
        <mat-option *ngFor="let value of filteredSearch | async" [value]="value">
          {{value}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <mat-form-field class="example-chip-list">
        <mat-label>Repuestos</mat-label>
        <mat-chip-grid #chipGrid aria-label="Fruit selection">
          <mat-chip-row *ngFor="let fruit of displayedFruits" (removed)="remove(fruit)">
            {{fruit}}
            <button matChipRemove [attr.aria-label]="'remove ' + fruit">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="Nueva relacion..." #fruitInput [formControl]="fruitCtrl"
          [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit.Descripcion">
            {{fruit.Descripcion}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </form>
  