
<h1>Seleccion de Repuestos</h1>
<mat-divider></mat-divider>

<div class="grid p-3">


    <mat-card class="col-12 sm:col-6">

        <mat-card-header>
          <mat-card-title> nombre </mat-card-title>
          <mat-card-subtitle>nombre. subtitle</mat-card-subtitle>
        </mat-card-header>
    
    
     <img mat-card-image [src]="'assets/heroes/'+'1'+'.jpg'"> 

 </mat-card>




<mat-card class="col-12 sm:col-6" >
    <h1>Selecciona los repuestos asociados </h1>
    <mat-divider></mat-divider>
        <div style="padding: 0.5rem;" >
            

                 <table-relacion></table-relacion>

        </div>

</mat-card>






</div>